/*Main*/

.App {
  text-align: center;
  background-color: #582B11;
}

.header {
  background-color: #BD8B9C;
  font-family: 'Lobster', cursive;
}

.home {
  text-align: center;
  background-color: grey;
}

body {
  background: #582B11!important;
  /* background-image: url(""); */
  color: #87F1FF;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar-toggler {
  background-color: #AF125A !important;
}

.navbar-toggler-icon {
  background-image: url("https://www.pinclipart.com/picdir/middle/338-3388563_brown-bear-clipart-paw-grizzly-bear-paw-logo.png") !important;
  border-radius: 30%;
}

.navbar-brand {
  font-size: 35px !important;
}

.nav-link {
  font-size: larger;
}

h1 {
  text-align: center;
  color: #C0F5FA;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

/*Extra Misc*/

.brand {
  color: #582B11;
}

.brand:hover {
  color: #AF125A;
}

.button {
  color: #87F1FF !important;
  font-family: 'Lobster', cursive;
  /* display: inline-block ;
  text-align: center; */
}

.button:hover {
  color: #AF125A !important;
}

/*About Us*/

.jumbotron h1 {
  font-family: 'Lobster';
  color: #AF125A;
}

.jumbotron {
  background: grey;
}

.jumbotron h1 img {
  width: 11%;
}

.aboutus {
  text-align: center;
  font-weight: bold;
  color: #582B11;
}

.label {
  font-weight: bold;
}

.display-2 {
  color: #F7F7F7;
  text-align: center;
  margin: 1em auto 1em auto;
  width: 84%;
}

.table {
  background-color: #BD8B9C;
  margin-top: 150px;
}

.formgroup {
  color: #BD8B9C;
  width: 84%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 2em auto 4em auto;
  max-height: 20em;
  overflow: auto;
}

/*Mama and Baby Table product displays*/

.card-body {
  background-color: #BD8B9C;
  width: 100%;
}

.card-image {
  height: auto;
  width: auto;
  border: 2px, solid, #582B11;
}

.card {
  background-color: #C0F5FA !important;
  text-align: center;
  margin: 15px;
  padding: 10px;
  width: auto;
  height: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.add-card {
  background-color: #C0F5FA !important;
  text-align: center;
  /* margin: 15px; */
  padding: 10px 20px;
  width: 25%;
  height: 40%;
  align-items: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#delete-button {
  background-color: #582B11 !important;
  font-family: 'Lobster', cursive;
}

#delete-button:hover {
  color: #AF125A !important;
}

.label {
  color: #582B11;
  font-family: 'Montserrat', sans-serif;
}

.form {
  width: 50%;
  height: 50%;
  margin: 500px;
  border: 2px, solid, #C0F5FA;
  background-color: #AF125A;
  padding: 10px;
  display: block;
}

#table {
  padding: 100px 5px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
}

/*Auth diplays*/

.label-login {
  color: #AF125A;
  font-family: 'Lobster', cursive;
  ;
}

.login-form {
  width: 50%;
  text-align: center;
  display: inline-block;
}

/*Modals*/

.modal-title {
  font-family: 'Lobster', cursive;
  text-align: center;
}

.modal-header {
  background-color: #AF125A;
}

.submit-button {
  color: #AF125A;
  font-family: 'Montserrat', sans-serif;
}

/*Contact Us*/

/* .contact_items {
  font-family: 'Montserrat', sans-serif;
  color: #87F1FF;
} */

.contact_img {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.contact-us {
  height: 100%;
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 20px 20px;
  margin: 10px;
  box-sizing: border-box;
}

.contact-header {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

#email {
  width: 50%;
  height: 50px;
}

#message {
  width: 50%;
  height: 200px;
  background-color: #BD8B9C;
}

/*Footer*/

.footer-text {
  color: white;
  padding: 700px;
}

/*Home*/

.carousel-img{
  align-items: center ;
  margin: 500px !important;
  width: 100% ;
}

.product-links {
  width: 50%;
}

.carousel-items > img {
  align-items: center;
}