.App {
  text-align: center;
  background-color:#582B11;
}

.header {
  background-color: #BD8B9C;
  font-family: 'Lobster', cursive;
}

.navbar-toggler-icon {
 background-color: #582B11 !important;
}

.brand:hover {
  color: #AF125A;
}

.inactive {
  color: #87F1FF;
}

.inactive:hover {
  color: #AF125A;
}

.brand {
  color: #582B11;
}

.home {
  text-align: center;
  background-color: grey;
}

body {
 /* background: #582B11!important;*/
  background-image: url("https://res.cloudinary.com/dqaf1fih0/image/upload/v1620250487/pine_trees_qcltcn.jpg");
  font-family: 'Montserrat', sans-serif;
  color: #87F1FF;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.jumbotron h1 {
  font-family: 'Lobster';
  color: #AF125A;
}

.jumbotron {
  background: grey;
}

.jumbotron h1 img {
  width: 11%;
}

.label {
  font-weight: bold;
}

.aboutus {
  text-align: center;
  font-weight: bold;
  color: #582B11;
}

.display-2 {
  color: #F7F7F7;
  text-align: center;
  margin: 1em auto 1em auto;
  width: 84%;
}

.card {
  width: 15%;
  height: 80%;
  padding: 25px 50px 25px 50px;
}

.table {
  background-color: #BD8B9C;
  margin-top: 150px;
}

h1 {
  text-align: center;
  color: #C0F5FA;
  font-family: 'Montserrat', sans-serif
}

.formgroup {
  color: #BD8B9C;
  width: 84%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 2em auto 4em auto;
  max-height: 20em;
  overflow: auto;
}

.card-body {
  background-color: #BD8B9C;
  width: 100%;
}

.card {
  background-color: #C0F5FA !important;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.label {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.form {
  width: 50%;
  height: 50%;
  margin: 500px;
  border: 2px, solid, #C0F5FA;
  background-color: #AF125A;
  padding: 10px;
}

.card {
  padding: 10px;
  margin: 500px;
}

#table {
  padding: 100px 5px;
}